.app {
  .topbar {
    -webkit-box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
    .container {
      max-width: 1300px;
      margin: auto;
      padding: 20px;
      .search-cont {
        position: relative;
        width: 98%;
        margin: auto;
        max-width: 600px;
        border: 1px solid rgb(182, 182, 182);
        border-radius: 5px;
        padding: 15px 0 15px 15px;
        .main {
          display: flex;
          align-items: center;
          .search-input {
            border-right: none;
            border: none;
            width: 90%;
          }
          .search-icon-cont {
            width: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .results {
          position: absolute;
          top: 105%;
          width: 100%;
          -webkit-box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          overflow: hidden;
          left: 0;
          .result {
            padding: 15px 20px;
            background: #fff;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .name {
              font-size: 0.9rem;
              color: grey;
              font-weight: bold;
              .bl-txt {
                color: black;
              }
            }
            .zone {
              background-color: green;
              border-radius: 5px;
              color: #fff;
              font-size: 0.8rem;
              color: #fff;
              padding: 10px 15px;
              font-weight: bold;
              min-width: 80px;
              text-align: center;
            }
            &:last-child {
              border-bottom: none;
            }
            &:hover {
              background: rgb(246, 246, 246);
            }
          }
        }
      }
    }
  }
  .main-data {
    z-index: -1;
    margin: 150px 0;
    .container {
      max-width: 1200px;
      margin: auto;
      display: grid;
      grid-template-columns: 31% 31% 31%;
      grid-column-gap: 3.5%;
      grid-row-gap: 40px;
      padding: 0 30px;
      .dist {
        -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 0px;
        background: #fff;
        overflow: hidden;
        .name {
          padding: 15px;
          color: #fff;
        }
        .details {
          padding: 20px;
          .sub-detail {
            margin-bottom: 25px;
            .title {
              display: block;
              margin-bottom: 8px;
              margin-right: 8px;
              color: grey;
              font-weight: bold;
              font-size: 0.8rem;
            }
            .val {
              font-size: 1rem;
            }
            .val-hl {
              padding: 5px 10px;
              color: #fff;
              margin: 3px 0 0 0;
              display: inline-block;
              border-radius: 3px;
            }
          }
        }
      }
    }
  }
  .reset {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: #fff;
    text-align: center;
    -webkit-box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.1);
    .reset-btn {
      font-weight: bold;
      padding: 20px;
      text-align: center;
      border: none;
      background: #000;
      color: #fff;
      width: 100%;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 1100px) {
  .app {
    .main-data {
      .container {
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: 48% 48%;
        grid-column-gap: 4%;
        grid-row-gap: 40px;
        padding: 0 30px;
      }
    }
  }
}

@media (max-width: 800px) {
  .app {
    .main-data {
      .container {
        max-width: 1200px;
        margin: auto;
        display: unset;
        padding: 0 30px;
        .dist {
          width: 90%;
          margin: auto;
          margin-bottom: 40px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .app {
    .topbar {
      .container {
        padding: 15px 10px;
        .search-cont {
          .main {
            .search-input {
              width: 85%;
            }
            .search-icon-cont {
              width: 15%;
            }
          }
        }
      }
    }
    .main-data {
      margin: 100px 0;
      .container {
        .dist {
          margin-bottom: 30px;
        }
      }
    }
  }
}
